<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Last Min</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <img src="https://modishstore.imgix.net/s/files/1/0236/1829/products/RT335R36.jpg?v=1525935967&auto=compress,format&w=1200&" class="img-thumbnail">
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="jumbotron">
                    <h2>
                        Last | Min | Dining
                    </h2>
                    <p>
                        High Demand Restaurants. Quick References. <br> Your trusted reservation app on the go.
                    </p>
                </div>
                <p class="text-warning lead text-center">
                    <span>Hey. We get it. Eating out can be a Last Min thing. But don't feel too bad. We have the best restaurants with their locations and availability for your quick and easy change of plans on the go.</span> <span>Just don't make it a habit, ok?</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                         
                        <button type="button" class="btn btn-info btn-lg allrestaurants">
                            See 'em All
                        </button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                         
                        <button type="button" class="btn btn-success btn-lg availabletimes">
                            Crunch Time
                        </button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 allresbox">
            </div>
            <div class="col-md-6 availresbox">
            </div>
        </div>
    </div>

    <script src="app.js"></script>
  </body>
  
  </html>